<!--
1.基本资料 Basic info
2.工作经历 Experience
3.擅长技能 Tech
4.应聘岗位 Application
-->
<div class="container">
  <div class="basic-info-container pt20">
    <h3 class="pb10 inline-block border-bottom">1.基本资料 Basic info</h3>
    <ul class="basic-info-con clear-fix pt20">
      <li>姓名：时间煮雨</li>
      <li>职位：前端开发</li>
      <li>工作经验：计算中</li>
      <li>年龄：24</li>
      <li>学历：本科</li>
      <li>毕业学校：河南大学</li>
      <li>电话：18301161353</li>
      <li>邮箱：17051007515@163.com</li>
    </ul>
  </div>
  <div class="experience-container pt20">
    <h3 class="pb10 inline-block border-bottom">2.工作经历 Experience</h3>
    <ul class="experience-con pt20">
      <li>
        <h4 class="pl20">2014.07.07 - 2015.11.11 </h4>
        <div class=" pl20">
          <p class="pt20">负责PC端及移动端页面的编写。</p>
          <p class="pt20">使用HTML5、CSS3新特征编写具有语义性的代码。</p>
          <p class="pt20">各个浏览器的兼容性。</p>
          <p class="pt20">和后端人员配合实现页面的数据显示及js效果展示和交互。</p>
        </div>
      </li>
      <li>
        <h4 class="pl20 pt20">2015.12.07 - 至今 </h4>
        <div class="pl20">
          <p class="pt20">行业类别：运动健康 </p>
          工作描述：
          <p class="pt20">负责前端业务开发工作</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="tech-container pt20">
    <h3 class="pb10 inline-block border-bottom">3.擅长技能 Tech</h3>
    <ul class="tech-con pt20">
      <li>1.熟悉W3C标准，熟悉浏览器兼容性，精通HTML/HTML5、CSS/CSS3，能够制作精准稳定的PC和H5页面</li>
      <li>2.熟练使用jQuery、Ajax、JSON、Javascript，熟练使用Jquery、Bootstrap、Swiper等前端技术</li>
      <li>3.熟练使用AngularJs、Angular2、Bootstrap等框架</li>
      <li>4.了解Python语言</li>
      <li>4.了解webpack、vue等相关技术</li>
      <li>具有较强的分析和解决问题的能力，具备良好的团队合作精神、勤奋好学，对技术充满热爱</li>
    </ul>
  </div>
  <div class="application pt20">
    <h3 class="pb10 inline-block border-bottom">4.教育经历 Application</h3>
    <ul class="application pt20">
      <li>前端开发</li>
    </ul>
  </div>
  <div class="application pt20">
    <h3 class="pb10 inline-block border-bottom">4.应聘岗位 Application</h3>
    <ul class="application pt20">
      <li>前端开发</li>
    </ul>
  </div>
  <div class="application pt20">
    <h3 class="pb10 inline-block border-bottom">4.自我评论 </h3>
    <ul class="application pt20">
      <li>自我评价</li>
    </ul>
  </div>
</div>
