<nav>
  <div class="nav-main">
    <div class="menu">
      <ul>
        <li routerLinkActive='active'><a routerLink="home">Home</a></li>
        <li routerLinkActive='active'><a routerLink="articles">Articles</a></li>
        <li routerLinkActive='active'><a routerLink="contact">Contact</a></li>
        <li routerLinkActive='active'><a routerLink="problems">Problems</a></li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="footer-main">
    <p>angular2</p>
    <p>Powered by <a href="https://wangmeng93.github.io/" target="_blank">WangMeng</a></p>
  </div>
</footer>
